
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/login-form-07/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/login-form-07/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-form-07/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/login-form-07/css/style.css">

    <title>Giriş Yap</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/login-form-07/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        @using (Html.BeginForm("Index", "Login",FormMethod.Post))
                        {
                            <div class="col-md-8">
                                <div class="mb-4">
                                    <h3>Giriş Yap</h3>
                                    <p class="mb-4">Dünyada herkesin başarılı olabileceği bir iş bulunur, önemli olan insanda bulunan yeteneklerin ortaya çıkarılmasıdır. Her insan ayrı bir dünyadır, her dünya ise yeni bir yaşamdır..</p>
                                </div>
                             
                                    <div class="form-group first">
                                        <label  for="username">Kullanıcı Adı</label>
                                        <input name="UserName" type="text" class="form-control" id="username">

                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Şifre</label>
                                        <input name="Password" type="password" class="form-control" id="password">

                                    </div>

                                    <input type="submit" value="Giriş Yap" class="btn btn-block btn-primary">
                            </div>
                        }
                        </div>
                        

                </div>

            </div>
        </div>
    </div>


    <script src="~/login-form-07/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-form-07/js/popper.min.js"></script>
    <script src="~/login-form-07/js/bootstrap.min.js"></script>
    <script src="~/login-form-07/js/main.js"></script>
</body>
</html>
