@model valorantProject.Models.Root
<div id="ajan" class="agent-container">
    <h1 class="agent">Ranklar</h1>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                @foreach (var item in Model.data)
                {
                   foreach (var value in item.tiers)
                   {
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="@value.largeIcon" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">@value.divisionName</h2>
                                <h2><span class="badge bg-primary">@value.tierName</span></h2>          
                            </div>
                        </div>
                       }
                   }  
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>

