<div class="hero">
    <div class="content">
        <h4 data-text="Hoşgeldin">Hoşgeldin</h4>
        <h1>Burası Valorant Dünyası </h1>
        <h3> <span>Valoranta dair herşey burada </span> Siteyi dolaş ve keyfini çıkar  </h3>
        <div class="news">
            <form>
                <input class="hadi" type="arama" name="arama" id="search" placeholder="Aramaya Başla">
                <input type="submit" name="submit" value="Ara">
            </form>
        </div>
    </div>
</div>
