<div class="hero">
    <div class="content">
        <h4 data-text="Hoşgeldin">Hoşgeldin</h4>
        <h1>Burası Valorant Dünyası </h1>
        <h3> <span>Valoranta dair herşey burada </span> Siteyi dolaş ve keyfini çıkar  </h3>
        
    </div>
</div>
