<nav>
    <h2 class="logo">Valo<span>World</span> </h2>
    <ul>
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="#ajan">Ajanlar</a></li>
        <li><a href="#rank">Ranklar</a></li>
        <li><a href="#weapon">Silahlar</a></li>
        <li><a href="#map">Haritalar</a></li>
        <li><a href="#stream">Yayıncılar</a></li>
        <li><a id="urun" href="#">Ürünler</a></li>
    </ul>
    <div class="contact">
        <a href="/Login/Index/" class="iletisim">Giriş Yap</a>
    </div>
</nav>
