<footer class="footer">
    <div class="foot-container">
        <div class="row">
            <div class="footer-col">
                <h4>Ajanlar ve Mapsler</h4>
                <ul>
                    <li><a href="">Ajanlar hakkında</a></li>
                    <li><a href="">Haritalar</a></li>
                    <li><a href="">Haritalar ve Lineuplar</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ürünler</h4>
                <ul>
                    <li><a id="ınstagram" href="#">İnstagram</a></li>
                    <li><a id="shopier" href="#">Shopier</a></li>
                    <li><a id="dolap" href="#">Dolap</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>İletişim</h4>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">İnstagram</a></li>
                    <li><a href="">Discord</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
